<div style="width:100%;height:auto;margin-bottom:0px">
                    <h2>About</h2>
                    <p>I'm Sivasakthi, holding a B.Sc. in Computer Science and currently advancing my studies with MCA. I've contributed to TCS and consistently seek out new experiences. Engaging in cultural, sports, and event activities is where I thrive.</p>
                    <a href='https://github.com/sivasakthi16'>Github</a>&nbsp;
                     <a href='https://www.linkedin.com/in/sivasakthi-balaji-420a191aa'>LinkedIn</a>
                    </div>